*{
    border: 0vw;
    margin: 0vw;
    padding: 0vw;
    font-size: 1vw;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-Items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background:linear-gradient(to top,white,cyan,rgba(0, 123, 255, 0.552));
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-Items: center;
}
main{
    align-content: center;
    align-items: center;
    box-shadow: 1vw 2vw rgba(255, 255, 255, 0.542);
    
}

header{
    margin-right: 1vw;
    border-bottom: 5vw;  
    justify-content: center;
    justify-Items: center;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.214);
    border:1px solid black;
}
.topo{
    justify-items: center;
    justify-content: center;
}
.logo{
    height:10vw;
    justify-content: center;
    justify-Items: center;
}
.login-frame{
    width: 75vw;
    height: 30vw;
    margin-top: 1vw;
    display: flex;
    background-image: url(/images/foto\ login\ 3.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.part-left{
    justify-items: center;
    align-content: center;
    width: 50%;
    transition: 500ms;
    background: rgba(0, 0, 0, 0.461);
}
.part-left .Camp-info .campo-senha input{
    margin-left: 0vw;
}
.part-right{
    opacity: 0;
    width: 50%;
    justify-items: center;
    align-content: center;
    transition: 500ms;
    background: rgba(0, 0, 0, 0.461);
}
.part-right .Camp-info #aviso-logon{
    margin-top: 1vw;
}
.confirm-pass{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
#logon{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   
.Camp-info{
    justify-items:center;
    justify-content: center;
    align-content: space-around;
    border: 1px solid black;
    width: 80%;
    height: 80%;
    border: 1px solid white;
    box-shadow: 0.5vw 0.5vw rgba(255, 255, 255, 0.357);
    background: rgba(255, 255, 255, 0.252);
}
.campo-submit{
    align-items: center;
    align-content: center;
}
.tittle{
    justify-items: center;
    align-content: center;
    background: white;
    border-radius: 0.5vw;
    height: 15%;
    width: 20%;
    border: 1px solid black;
    box-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.399);
}
.login{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.section-login{
    background: rgba(128, 128, 128, 0.347);
    height: 11vw;
    width: 22vw;
    padding:2vw;
    box-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.357);
    border:1px solid black;
    display: flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.part-right .section-login{
    height: 12vw;
}
.part-right .campo-senha {
    font-size: 1vw;   
    justify-content: start;
    justify-items: start;
}
.part-right .campo-senha h1 {
    font-size: 1vw;   
    margin-left: 2vw;
}
.part-right .tittle h1{
    font-size: 1vw;
}
.part-right .campo-senha *{
    font-size: 1vw;
    justify-content: flex-start;
    justify-items: flex-start;
}
.part-right #aviso-logon{
    padding-top: 0.5vw;
}
.section-login .campo-senha input{
    width: 7.8vw;
    margin: 0vw 2vw;
}

.section-login *{
    justify-content: center;
    justify-items: center;
}
h1{
    font-size: 1.5vw;
}

input{
    height: 1.5vw;
    margin: 1vw 0vw;
    padding:0.5vw;
    background: rgba(255, 255, 255, 0.59);
    border: 1px solid black;
    border-radius: 0.3vw;
}
.enviar{
    height:2vw;
    width: 4vw;
    border-radius:0.3vw;
    border:1px solid black;
    box-shadow: 0.3vw 0.3vw rgba(0, 0, 0, 0.309);
    background: rgba(0, 255, 0, 0.428);
    margin-left: 0vw;
    margin-top: 0.5vw;
    
}
.enviar:hover{
    transition: 300ms;
    box-shadow: none;
    background: rgba(0, 255, 0, 0.599);
    border: 1px solid rgb(255, 255, 255);
}

@keyframes slide{
    0%{margin-left:0vw;};
    100%{margin-right: 0vw;}
}


