* {
    padding: 0vw;
    border: 0vw;
    margin: 0vw;
    list-style: none;
}
body{
    overflow-x: hidden;
}
header {
    padding: 1vw;
    border: 1px solid black;
    position: static;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opcoes {
    display: flex;
}

.logo {
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    padding: 2vw;
    border: 1px black solid;
    background: yellow;

}

.button:hover {
    background: rgb(95, 239, 95);
    cursor: pointer;
}

.choose {
    position: fixed;
    margin-top: 2vw;
    margin-left: -16vw;
    display: flex;
    background: lime;
    border: black solid 1px;
    padding: 1vw;
    margin-left: 100vw;
    transition: 0.5s;
}
li:hover{
    background: white;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 1.2vw;
}
.button:hover .choose{
    opacity: 1;
    margin-top: 2.1vw;
    margin-left: -22vw;
    transition: 0.5s;
}

li {
    margin: 0vw 1vw;
    padding: 1vw;

}

.separator {
    padding: 0vw 0vw;
    border: black solid 1px;
}